<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>The Coffee Time</name>
  <description>The Coffee Time mobile application</description>
  <author email="srikanth33722@gmail.com" href="http://thecoffeetimes.in/">Srikanth IT Services</author>
  <access origin="*"/>
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="https://www.google.com/maps/embed/*" />
  <preference name="phonegap-version" value="cli-7.1.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-splashscreen" spec="3.2.2" />
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />

  <icon src="img/Cup-01.png" />
  <splash src="img/cup-splash.png" />
  
</widget>
